/*
 * @file expert-menu.menu.css
 */
#block-accountmenu {
  /*background-color: red;*/
}

#block-accountmenu  {
  text-align:center;
  width:200px;
  background: url(../images/cord.png) no-repeat center top;
  margin:0 auto;
}

#block-accountmenu ul {
  text-align:center;
  width:100px;
  margin:0 auto;
  /*background-color:green;*/
}

#block-accountmenu li {
  margin:25px 0;
}

#block-accountmenu li a {
  vertical-align:baseline;
  width:90px;
  height:90px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-decoration:none;
  color:#000;
  background-color:#006998;
  color:#fff;
  font-size:16px;
}

#block-accountmenu li.active-trail a,
#block-accountmenu a:active {
  background-color:#1d96c3;
}
