
@media screen and (max-width : 768px) {

#addData{
	width:100%;
	max-width:none;
	background:red;
}

#addData .block_left,
#addData .block_right,
#addData .block_center{
	background:#C90;
	margin:0 auto;

}