@media screen and (min-width : 752px) {

#addData .block_left{
	float:left;
	margin:0px 10px 0 5%;
	padding-right:15px;
}

#addData .block_right{
	float:right;
	margin:0px 5% 0 10px;
	padding-right:15px;
}

#addData #domain_control {
	margin-top:17px;
}

#addData .content .form-item {
	margin-top:0px;
}

#addData #dataCompany .form-item-address,
#addData #dataCompany .form-item-currency {
	margin-bottom:0px;
}

#addData .block_right .form-item-email-user{
	margin-top:24px;
}

}