#addData{
  position:relative;
  font-size:1em;
  max-width: 750px;
  width:100%;
  margin:0 auto;
}

#addData #content_body{
	background:#f8f8f8;
	position:relative;
	width:100%;
	margin:0 auto;
	min-height:310px;
	padding-bottom:20px;
}
#addData #content_body .content{
	position:relative;
	padding-top:10px;
	margin: 0px;
}

#addData #content_body .ant_next{ 
position:absolute; 
top:301px;
width:100%;
z-index:10;
}

#addData #content_body .ant_next .next{
	position:relative;
	float:right;
	padding-right:15px;
	}
#addData #content_body .ant_next .back{
	position:relative;
	float:left;
	padding-left:15px;
	}


#addData .password-suggestions{
	display:none !important;
}

#dataPerson{}
#dataCompany{display:none;}
#dataTributary{display:none;}
#dataUser{display:none;}
#edit-submit{display:none;}

.mostrar{ display:inherit !important;}
.ocultar{ display:none !important;}

#edit-submit{}

form.add #edit-actions{
	position:relative;
	max-width:760px;
	margin:0 auto;
	top:-140px;
}

form.add #edit-actions #edit-submit{
	float:right;
	position:relative;
	z-index:11;
}

.disabled{
	background:#F3F3F3 !important;
	color:#CCC !important;	
}


#addData input[type="text"],
#addData input[type="date"],
#addData input[type="number"],
#addData input[type="tel"],
#addData input[type="email"]{
	max-width:270px !important; 
	width:100% !important; 
}

#addData textarea {
	width:100%;
	max-width:292px  !important;
	height:33px;
}
#addData input[type="tel"],
#addData input[type="number"]
{
	padding:7px 10px;
}

#addData select{
	max-width:292px !important;
	width:100%;
}


#addData label{
font-size:0px;
}

#addData .form-required:after{
margin-top:14px; 
/*margin-left:295px;*/
right:5px !important;
}

/*
#addData #dataUser .form-required:after{
margin-left:245px;
}


*/

#addData .suffix_domain{
	margin-top:-15px;
	font-size:0.85em;
}


#addData label[for="edit-newsletter-0"]{
	display:inline !important;
	font-size:0.85em;
}


#addData #dataPerson,
#addData #dataCompany,
#addData #dataTributary,
#addData #dataUser
{
  position:relative;
}	

#addData .block_left, #addData .block_right, #addData .block_center {
	position:relative;
	max-width:305px; 
  	margin: 0 auto; 
	margin-top:0px;
}



/*
#addData #dataCompany .content .form-item {
	margin-left:30px;
}
*/


/*
#addData #navegation,
#addData .title_data{
	width:800px;
	margin:0 auto;
}

*/
#addData #navegation{
	clear:both;
}


#addData .title_data{
	top:-35px; 
	position:absolute;
	width:100%;
}
#addData .title_data p{
	text-align:center;
	font-size:1em;
	margin:0 auto;
}

#addData #navegation ul {
	text-align:center;
	width:520px;
	padding: 0px !important;
	background:url(barra.png) repeat-x;
	margin:0 auto;
}

#addData #navegation li {
  display:inline-block;
  margin:0 20px;
	
}


#addData #navegation li a{
  vertical-align: baseline;
  width:90px;
	height:90px;
	line-height: 15px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-decoration:none;
  color:#000;
  background:#006998;
  color:#fff;
}
#addData #navegation li.active a {
	background:#1d96c3;
}

/*
#addData .password-strength{
	width:8em;
	float:left;
	padding-left:10px;
}
#addData .password-strength .password-strength-text{
	 float:none;
}
#addData .password-strength .password-strength-title{
	display:none;
}

#addData .password-confirm{
	margin-top:0px;
	float:none;
}
#addData #edit-re-password--description{
	display:none;
}

#addData #edit-domain{
	width:180px;
}
#addData .form-item-domain label:after{
  margin-left:305px !important;
}


#addData .suffix_domain{
	margin-top:-44px;
	margin-left:205px;
}
#addData #domain_control{
	margin-top:20px;
}

#addData .form-item-email-user{margin-top:40px;}

#addData .obligado span{ color: #28405F; font-weight: bold; }  
 
#loader{
  position:absolute;
  z-index:100;
  background:rgba(255, 255, 255, 0.92);
  width: 900px;
  height:450px;
  margin-top:-20px;
} 
#loader .mensaje{
  text-align: center;
}
#loader .imagen{
  margin: 20px auto;
  width: 120px;
}
*/