@media screen and (max-width : 751px) {

#addData .block_right{
	float:none;
	margin-top:1em;
}

#addData #content_body #dataCompany .ant_next{ 
  top:620px;
}
#addData .form-item{
	padding-right:36px;
}
#addData .form-type-select,
#addData .form-type-textarea{
	padding-right:16px;
}

#addData .title_data,
#addData #dataUser #domain_control{
	display:none;
}


#dataUser .form-item{
	margin-top:0PX;
}


}

/***********************************************
*
************************************************/

@media screen and (max-width : 568px) {
#addData #navegation{
	display:none;
}

#addData #content_body #dataCompany .ant_next{ 
  top:560px;
}

#add #edit-actions{
	top:-43px;
}
#addData {
	font-size:0.86em;	
}

#addData label[for="edit-newsletter-0"]{
	font-size:0.86em !important;
}
#addData #edit-newsletter{
	padding-right:0px !important;
}

#addData #edit-newsletter .form-item-newsletter-0{
	padding-right:0px !important;	
}
	
}


