/*
*   stilos para el popup
*/
#popup{
	background:rgba(171, 171, 171, 0.9);
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	z-index:1500;
}
#popup #cuadro{
	width:97%;
	max-width:800px;
	margin:auto;
/*	max-height:370px; */
	height:100%;
	position:relative;
	z-index:1501;
}
#popup #cuadro .cuerpo{
	position:relative;
	margin:0 auto;
	width:100%;
/*	width:800px; */
	height:100%; 
/*	max-height:370; */
/*	top:50%;
	margin-top:-200px; */
}
#popup #cuadro .content{
  float:left;
/*  width:800px; */
  overflow-y: auto;
  height:100%;
/*  max-height:370px; */
}
#popup #cuadro .content div{
	padding:5px;
}

#popup #cuadro .titulo{
	color:#FFF;
	font-weight:bold;
	height:30px;
}
#popup.message #cuadro .titulo{
	background: #006998;
}
#popup.warning #cuadro .titulo{
	background: #eea82c;
}
#popup.error #cuadro .titulo{
	background: #e81515;
}


#popup #cuadro .titulo td{
	text-align:center !important;
}
#popup #cuadro table{
  background:#f8f8f8;
  height:100%;
  margin:0px;
}
#popup #cuadro table td{
	padding:0;
	border:0px;
}

#popup .cerrar{
	text-align:center;
	padding:5px 0;
}
#popup .cerrar:hover{
	background:rgba(255, 255, 255, 0.4);
}