.editor-dialog{width:80% !important;max-width:500px;}@media screen and (max-width:600px){.editor-dialog{width:95% !important;}}
p[data-widget="image"].align-center{text-align:center;}div[data-cke-widget-wrapper].align-center > figure[data-widget="image"]{margin-left:auto;margin-right:auto;}
.ckeditor-dialog-loading{position:absolute;top:0;width:100%;text-align:center;}.ckeditor-dialog-loading-link{border-radius:0 0 5px 5px;border:1px solid #B6B6B6;border-top:none;background:white;padding:3px 10px;box-shadow:0 0 10px -3px #000;display:inline-block;font-size:14px;position:relative;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}.edit-toolgroup.wysiwyg-main .cke_chrome,.edit-toolgroup.wysiwyg-main .cke_inner,.edit-toolgroup.wysiwyg-main .cke_top{background:transparent;border-top:none;border-right:none;border-bottom:none;border-left:none;box-shadow:none;}
