/* ---------- Overall Specifications ---------- */

@media (min-width: 1024px) {
  body {
    width:1024px;
  } 
}

body {
  line-height: 1.5;
  font-size: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
	/*width:1024px;*/
	margin:auto;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}

h1 {
	color: #2A6E9E;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	color: #2A6E9E;
	font-size: 21px;
	font-weight: normal;
}

h3 {
	color: #4E4E4E;
	font-size: 18px;
	}

h4 {
	color: #4E4E4E;
	font-size: 16px;
}

h5 {
	color: #4E4E4E;
	font-size: 15px;
}

p {
	color: #4E4E4E;
	font-size: 14px;
	text-align:justify;
}

del {
  text-decoration: line-through;
}
img {
  outline: 0;
}

/**
 * The generic monospace font family is listed before Courier new to avoid a
 * a bug in font-size rendering:
 * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing
 */
@font-face {
font-family: 'Questrial';
src: url('questrial-regular-webfont.eot'); 
src: url('questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('questrial-regular-webfont.svg#svgFontName') format('svg'),
    url('questrial-regular-webfont.woff') format('woff'),
    url('Questrial-Regular.ttf')  format('truetype');
}

 
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.857em;
  font-family:Questrial;
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  border-radius: 5px;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}


/* ------------------ Fonts ------------------ */

body,
#site-slogan,
#page .ui-widget,
.comment-form label,
.node-form label,
.node-form .description {
  font-family:Questrial;
}
#header,
#footer-wrapper,
.skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb,
.link {
  font-family:Questrial;
}
input,
textarea,
select,
.form-button,
a.button,
button {
  font-family:Questrial;
}

/* ------------------ Reset Styles ------------------ */

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 4px solid #afafaf;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* ------------------ Table Styles ------------------ */
.content .table-without-borders {
  border:hidden;
}

.content .table-without-borders-images {
  border:hidden;
}

.content .table-without-borders-divcentral {
  border:hidden;
}

.content .table-without-borders-divcentral tr,
.content .table-without-borders-divcentral td  {
  border:hidden;
}

.content .table-without-borders-divcentral tr.info,
.content .table-without-borders-divcentral tr.even,
.content .table-without-borders-divcentral tr:nth-child(2n+2) {
   border-bottom: 0;
   background-color: #FFFFFF !important;
}



table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 10;
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: #e5e5e5;

}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody tr {
  border-top: 1px solid #ccc;
  
}

tbody tr:hover {
  border: 1px solid #2A6E9E;
}

tr.odd {
 background: #fff;
}

th{
	background: #2A6E9E;
	color: white; 
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
   
   border-bottom: 0;
   background-color: #E1E8EF;
}

tr.odd td.active {
  background-color: #eee;
}

tr.even td.active {
  background-color: #ebebeb;
}

#footer-wrapper table {
  font-size: 1em;
}

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] .block ol,
[dir="rtl"] .block ul {
  padding: 0 1em 0.25em 0;
}
.contextual-region .contextual .contextual-links a {
  font-size: 0.923em;
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
.item-list .pager li {
  padding: 0;
}
.item-list .pager a {
  display: inline-block;
  padding: 10px 15px;
}
.item-list .pager .pager-first a {
  padding: 10px 10px 10px 0;
}
.item-list .pager .pager-previous a {
  padding: 10px 0;
}
.item-list .pager .pager-current {
  padding: 0 10px;
}
.item-list .pager .pager-next a,
.item-list .pager .pager-last a {
  padding: 10px 0 10px 10px;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 15px; /* LTR */
}
[dir="rtl"] .region-content ul,
[dir="rtl"] .region-content ol {
  padding: 2.5em 0 0.25em 0;
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
[dir="rtl"] .item-list ul li {
  padding: 0.2em 0 0 0.5em;
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}
[dir="rtl"] ul.tips {
  padding: 0 1.25em 0 0;
}

.content ul{
  font-size:14px;	
}
.content ol{
  font-size:14px;	
}
/* colocar si es necesario
.content ul li {
background: transparent url(../images/bullet.png) no-repeat left 0.5em;
padding-left: 15px;
list-style-type:none;
}
*/
/* ------------------ Header ------------------ */
.region-header{border:0px none !important;}
.skip-link,
.skip-link.visually-hidden.focusable {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute !important;
  width: auto;
  z-index: 50;
}
.skip-link,
.skip-link:link,
.skip-link:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: inline-block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}
.skip-link:hover,
.skip-link:active,
.skip-link:focus {
  outline: 0;
}

/*
 * Header user login
 */

#block-helpers {
  float: right;
}

#block-headeruser {
  float: right; /* LTR */
  padding-left: 5px; /* LTR */
}
[dir="rtl"] #logo {
  padding: 15px 10px 15px 15px;
}



#block-useraccess {
  float:left;
}

#name-and-slogan {
  float: left; /* LTR */
  margin: 0;
  padding: 5px 10px 8px;
}
[dir="rtl"] #name-and-slogan {
  margin: 0 15px 30px 0;
}

#site-name {
  font-size: 1.6em;
  color: #686868;
  line-height: 1;
}
h1#site-name {
  margin: 0;
}
#site-name a {
  font-weight: normal;
}
#site-slogan {
  font-size: 0.929em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}
/* Region header blocks. */
.region-header .block {
  font-size: 0.857em;
  float: left; /* LTR */
  margin: 0 10px;
  padding: 0;
}
.region-header .block > h2 {
  /* @extend .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px; /* LTR */
  width: 120px;
}
[dir="rtl"] .region-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px;
}
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; /* LTR */
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; /* LTR */
}
[dir="rtl"] .region-header #block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em;
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
/*
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
*/

/* Search block in region header. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

[dir="rtl"] #logo,
[dir="rtl"] #name-and-slogan,
[dir="rtl"] .region-header .block,
[dir="rtl"] .region-header #block-user-login .form-item,
[dir="rtl"] .region-header #block-user-login .item-list li {
  float: right;
}

/* --------------- Main Menu ------------ */
#main-menu {
  clear: both;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0 5px;
  padding: 0;
  text-align: left; /* LTR */
}
[dir="rtl"] #main-menu-links {
  text-align: right;
}
#main-menu-links li {
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#main-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: none;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  border-radius: 8px;
  margin-bottom: 4px;
  padding: 0.9em 0 0.9em 10px; /* LTR */
}
[dir="rtl"] #main-menu-links a {
  padding: 0.9em 10px 0.9em 0;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}
#main-menu-links a:active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
  border-bottom: none;
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 0 10px;
}
[dir="rtl"] #secondary-menu-links {
  float: left;
}
#secondary-menu-links  li{
  margin: 0;
  padding: 0;
}
#secondary-menu-links  a {
  display: inline-block;
  padding:  0.8em;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ------------------- Main ------------------- */

#main {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* ----------------- Featured ----------------- */

#featured {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 10px 45px;
  margin: 0;
/*  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff;*/
}
#featured h2 {
  font-size: 1em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 10px;
}
h1#page-title {
  font-size: 2em;
  line-height: 1;
}
#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node .content {
  font-size: 16px;
}
.view-mode-teaser .content {
  font-size: 1em;
}
.view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.view-mode-teaser h2 a {
  color: #181818;
}
.view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.view-mode-teaser.sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.view-mode-teaser .content {
  clear: none;
  line-height: 1.6;
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.submitted .field-name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}
[dir="rtl"] .submitted .field-name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px; /* LTR */
}
[dir="rtl"] .field-type-taxonomy-term-reference .field-label {
  padding-left: 5px;
  padding-right: 0;
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
.view-mode-teaser .field-type-taxonomy-term-reference .field-label,
.view-mode-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .field-type-taxonomy-term-reference ul.links li {
  padding: 0 0 0 1em;
  float: right;
}
.link-wrapper {
  text-align: right;
}
[dir="rtl"] .link-wrapper {
  text-align: left;
  margin-right: 236px;
  margin-left: 0;
}
.field-type-image img,
.field-name-field-user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  font-size: 0.821em;
}
.unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment .field-name-field-user-picture img {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .comment .field-name-field-user-picture img {
  margin-right: 0;
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
[dir="rtl"] .comment .attribution {
  float: right;
  padding: 0 0 0 30px;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
[dir="rtl"] .comment .comment-arrow {
  background-image: url(../images/comment-arrow-rtl.gif);
  margin-left: 0;
  margin-right: -47px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
[dir="rtl"] .comment .indented {
  margin-right: 40px;
  margin-left: 0;
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
[dir="rtl"] .comment ul.links li {
  padding: 0 0 0.5em;
}
.comment.unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
[dir="rtl"] .comment.unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}
.comment.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

.comment-footer {
  display: table-row;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 10px;
}
.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#triptych h2 {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
}
#triptych #block-search-form .form-type-search input {
  width: 185px;
}
#triptych-middle #block-system-powered-by {
  text-align: center;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------ Footer ------------------ */

#footer-wrapper .block .content {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper .block .content a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper .block .content a:hover,
#footer-wrapper .block .content a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block > h2 {
  /* @extend .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; /* LTR */
  margin-left: 0;
}
[dir="rtl"] #footer-columns .content ul {
  padding-right: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
[dir="rtl"] #footer-columns .content li a {
  padding: 0.8em 20px 0.8em 2px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
  margin-top: 20px;
}
#footer .block {
  clear: both;
}
#footer .menu ,
#footer .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .menu li a {
  float: left; /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
[dir="rtl"] #footer .menu li a {
  float: right;
  border-left: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  border-right: none;
}
#footer .menu li.first a {
  padding-left: 0; /* LTR */
}
[dir="rtl"] #footer .menu li.first a {
  padding-right: 0;
  padding-left: 12px;
}
#footer .menu li.last a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
[dir="rtl"] #footer .menu li.last a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none;
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}
.footerHome p{text-align:center;}

/* --------------- System Tabs  --------------- */

div.tabs {
  font-family:Questrial;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin-bottom: 20px;
}
.tabs ul.primary {
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
  white-space: nowrap;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
[dir="rtl"] .tabs ul.primary li {
  margin: 0 0 0 5px;
  float: right;
  zoom: 1;
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
.tabs ul.secondary {
  border-bottom: none;
  margin: 5px;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: block;
  float: left; /* LTR */
  margin: 0;
  padding: 0 1em;
}
[dir="rtl"] .tabs ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: none;
  float: right;
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}

[dir="rtl"] .tabs ul.secondary li:last-child {
  border-left: none;
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .tabs ul.secondary li:first-child {
  padding-right: 0;
}
.tabs ul.secondary li a {
  display: inline;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  border-radius: 5px;
}

/* ---------------- Messages  ----------------- */

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 8px 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb {
  font-size: 0.929em;
}

/* -------------- User Profile   -------------- */

.profile .field-name-field-user-picture {
  float: none;
}

/* -------------- Password Meter  ------------- */

[dir="rtl"] #password-strength {
  left: auto;
  margin-top: 2em;
  right: 16em;
}
[dir="rtl"] .form-item-pass-pass2 label {
  clear: right;
}
.confirm-parent,
.password-parent {
  width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
[dir="rtl"] #password-strength-text {
  margin-top: 0;
  float: left;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ---------------- Buttons    ---------------- */

.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  padding: 4px 17px;
  /*border-radius: 15px;*/
}
.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  color: #5a5a5a;
  background: #dedede;
}

/* -------------- Form Elements   ------------- */

form {
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 1em 0;
}
details,
fieldset,
.filter-wrapper {
  border-radius: 4px;
}
.filter-wrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
summary {
  background: #dbdbdb;
  color: #3b3b3b;
  text-shadow: 0 1px 0 #fff;
}
details summary a {
  color: #3b3b3b;
}
details summary a:hover,
details summary a:focus,
details summary a:active {
  color: #000;
}
details .details-description {
  font-style: italic;
}
label {
  display: block;
  font-weight: bold;
}
/*
input {
  margin: 2px 0;
  padding: 4px;
  /* Keep form elements from overflowing their containers. */
  /*max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/*
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
*/

.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
[dir="rtl"] .password-suggestions ul li {
  margin-right: 1.2em;
  margin-left: 0;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}

/* Node Form */
#edit-body {
  margin-bottom: 2em;
}

.node-form .form-wrapper {
  margin-bottom: 2em;
}

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  border-radius: 4px;

}
.contact-form #edit-mail {
  width: 75%;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Disabled form elements */
.form-disabled input,
.form-disabled select,
.form-disabled textarea,
.form-button-disabled,
.form-button-disabled:hover,
.form-button-disabled:focus,
.form-button-disabled:active {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.image-button-disabled,
.image-button-disabled:hover,
.image-button-disabled:focus,
.image-button-disabled:active {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete {
  background-position: 1% 4px;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 100% -16px; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 1% -16px;
}

/* Comment form */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 120px;
}
[dir="rtl"] .comment-form label {
  float: right;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
[dir="rtl"] .comment-form .form-type-checkbox,
[dir="rtl"] .comment-form .form-radios,
[dir="rtl"] .comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px;
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form details.filter-wrapper .details-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form details.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}
[dir="rtl"] #edit-actions input {
  margin-left: 0.6em;
  margin-right: 0;
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
  border: 0;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form #palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form #palette .lock {
  right: -20px;
  left: 0;
}

/* --------------- Search Form ---------------- */

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input[type="search"],
#block-search-form input[type="search"] {
  box-sizing: border-box;
  padding: 4px;
  -webkit-appearance: textfield;
}
#search-form input[type="search"]::-webkit-search-decoration,
#block-search-form input[type="search"]::-webkit-search-decoration {
  display: none;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  font-size: 1em;
  margin-right: 5px;
}
[dir="rtl"] #search-form input#edit-keys,
[dir="rtl"] #block-search-form .form-item-search-block-form input {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0;
  list-style-position: inside;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* -------------- Captions -------------- */

.caption > * {
  background: #F3F3F3;
  padding: 0.5ex;
  border: 1px solid #CCC;
}

.caption > figcaption {
  border: 1px solid #CCC;
  border-top: none;
  padding-top: 0.5ex;
  font-size: small;
  text-align: center;
}

/* Override Bartik's default blockquote and pre styles when captioned. */
.caption-pre > pre,
.caption-blockquote > blockquote {
  margin: 0;
}
.caption-blockquote > figcaption::before {
  content: "— ";
}
.caption-blockquote > figcaption {
  text-align: left;
}
[dir="rtl"] .caption-blockquote > figcaption {
  text-align: right;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
[dir="rtl"] .shortcut-wrapper h1#page-title {
  float: right;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
  margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}

/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ---------- book ----------- */
.book-navigation .menu {
  border-top: 1px solid #d6d6d6;
}
.book-navigation .book-pager {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 0;
}

/* ---------- Dropbutton ----------- */
.js .dropbutton-widget {
  background-color: white;
  border-radius: 5px;
}
.js .dropbutton-widget:hover {
  background-color: #f8f8f8;
  border-color: #b8b8b8;
}
.js .dropbutton-multiple.open .dropbutton-widget:hover {
  background-color: white;
}

/* ----------- media queries ------------------------------- */

@media all and (min-width: 461px) and (max-width: 900px) {
 /* ------------ Header and Menus -------------------------- */

 .region-header {
    margin: .5em 5px .75em;
  }
  #logo {
    padding: 5px 0 0 5px; /* LTR */
  }
  [dir="rtl"] #logo {
    padding: 5px 5px 0 0;
  }
  #name-and-slogan {
    padding: 10px 10px 8px;
  }
  #main-menu-links {
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }
  #main-menu-links li {
    float: left; /* LTR */
    margin-right: 5px; /* LTR */
    padding: 0;
    display: inline-block;
    width: 32.75%;
  }
  [dir="rtl"] #main-menu-links li {
    float: right;
    margin-left: 5px;
    margin-right: 0;
  }
  #main-menu-links li:nth-child(3n) {
    margin-right: -5px; /* LTR */
  }
  [dir="rtl"] #main-menu-links li:nth-child(3n) {
    margin-left: -5px;
    margin-right: 0;
  }
  #main-menu-links a {
    float: none;
    display: block;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0.9em 5px;
  }
}

@media all and (min-width: 901px) {

  .region-header {
    margin: 1em 5px 1.5em;
  }
  #logo {
    padding: 15px 15px 15px 10px; /* LTR */
  }
  [dir="rtl"] #logo {
    padding: 15px 10px 15px 15px;
  }
  #name-and-slogan {
    padding: 26px 0 0;
    margin: 0 0 30px 15px; /* LTR */
  }
  [dir="rtl"] #name-and-slogan {
    margin: 0 15px 30px 0;
  }
  #site-name {
    font-size: 1.821em;
  }
  #main-menu-links {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
  }
  #main-menu-links li {
    float: left; /* LTR */
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
    width: auto;
  }
  [dir="rtl"] #main-menu-links li {
    float: right;
  }
  #main-menu-links a {
    float: left; /* LTR */
    padding: 0.7em 0.8em;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  [dir="rtl"] #main-menu-links a {
    float: right;
    padding: 0.7em 0.8em;
  }
  .featured #main-menu-links li a:active,
  .featured #main-menu-links li a.active {
    background: #f0f0f0;
    background: rgba(240, 240, 240, 1.0);
  }
}

@media all and (min-width: 520px) {

  /* ----------------- Featured ----------------- */
  #featured {
    font-size: 1.643em;
  }
  #featured h2 {
    font-size: 1.174em;
  }

  /* ------------------ Triptych ----------------- */
  #triptych h2 {
    font-size: 1.714em;
    margin-bottom: 0.9em;
  }
  #triptych .block {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

/* ---------- Views styling ---------- */

/* @group Lists */

.views-display-top .secondary .action-list {
  padding-left: 0; /* LTR */
}

[dir="rtl"] .views-display-top .secondary .action-list {
  padding-left: inherit;
  padding-right: 0;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .region-content .secondary,
.views-displays .region-content .secondary {
  padding-bottom: 0;
  padding-left: 0;
}

.views-displays .secondary a {
  font-size: smaller;
}

.views-displays .secondary > li a {
  border-radius: 5px;
}

.views-displays .secondary > li.open a {
  border-radius: 5px 5px 0 0;
}

.views-displays .secondary .open > a:hover {
  color: #0071B3;
}

.views-displays .secondary input.form-submit {
  font-size: smaller;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-filterable-options .even .form-type-checkbox {
  background-color: #F9F9F9;
}

/* @end */

.views-display-column .details-wrapper {
  margin-top: 0;
}

.views-display-column details summary {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 13px;
  line-height: inherit;
  position: relative;
  text-indent: 0;
  text-shadow: none;
  top: 3px;
}

.views-display-columns details {
  position: inherit;
}

.views-display-columns details summary {
  padding: 0 0 4px 2px; /* LTR */
}
[dir="rtl"] .views-display-columns details summary {
  padding: 0 2px 4px 0;
}

.views-display-columns a.fieldset-title {
  color: #0071B3;
}

.views-display-columns a.fieldset-title:hover {
  color: #018FE2;
}

/* @group Dropbutton */

.views-ui-display-tab-actions .dropbutton input {
  color: #0071B3;
}

.views-ui-display-tab-actions .dropbutton input:hover,
.views-ui-display-tab-actions .dropbutton input:focus {
  color: #018FE2;
}

.views-ui-display-tab-actions .dropbutton input.form-submit {
  margin-right: 0;
  margin-top: 0;
}

/* @end */



/*
 * Header
 */

body.front header{display:none;}

#header {
	
    background-color: rgb(255, 255, 255) inherit;
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
		background-image: -webkit-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
		background: -o-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
		background-image: linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
}



/*
 * formularios
 */
input, textarea{
	background: #E1E8EF;
	border: solid 1px #2A6E9E;
	padding: 3px 5px;
	color: #4e4e4e;
	max-width: 100% !important;
}

input:hover, textarea:hover{
	background: #E1E8EF;
	border: solid 1px #0E4267;
	padding: 3px 5px;
	color: #4e4e4e;
}

input:focus, textarea:focus{
	background: #fff;
	border: solid 1px #0E4267;
	padding: 3px 5px;
}

input[type="text"], input[type="email"], input[type="password"],
input[type="date"],input[type="time"], input[type="number"],input[type="file"]{
  padding: 7px 10px !important;
}

.form-select{
  padding: 7px 10px !important;
  background: #E1E8EF;
  line-height: 100%;
  border: 1px solid #2A6E9E;
  border-radius: 0;
  /*-webkit-appearance: none;*/
}
/**/

.form-select option:hover{
	background-color: #aaa;
}
 
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  background:#2A6E9E;
  color: white;
  padding: 7px 22px;
  border: none;
}


button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background:#5D9FCF;
  color: white;
  padding: 7px 22px; 
  border: none;
}

.form-required:after{
  font-size:16px;
  color:#006998;
  margin-top:7px;
  content: '*';
  position: absolute;
  margin-left:7px;
}

input[type="radio"]{
 /*display:none;*/
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  color: white;
  background: url(../images/radio.jpg) no-repeat right #2A6E9E !important;
  height:18px;
  width: 18px !important;
  clear: both;
  color: white;
  border: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
/*
input[type="radio"] + label.option {
  height:18px;
  display:inline-block;
  line-height:14px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;
}
*/ 
/*
input[type="radio"]:checked + label.option {
  background-position: 0 -14px;
}

label.radio {
				background: url(../images/radio.jpg) no-repeat right #2A6E9E !important;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
}
*/

input[type="radio"]:checked{
  clear: both;
  color: white;
  border: none;
  background: url(../images/radio-select.jpg) no-repeat right white !important;
  overflow: hidden;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  max-width: 18px;
  max-height: 18px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}


input[type="checkbox"]{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  color: white;
  background: url(../images/check.jpg) no-repeat right #2A6E9E !important;
  height:18px;
  width: 18px !important;
  clear: both;
  color: white;
  border: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
/*
input[type="checkbox"] + label.option {
  height:18px;
  display:inline-block;
  line-height:14px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;
}
 */
input[type="checkbox"]:checked{
  clear: both;
  color: white;
  border: none;
  background: url(../images/check-select.jpg) no-repeat right white !important;
  overflow: hidden;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  max-width: 18px !important;
  max-height: 18px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}


/*
 * Saludo de la página de inicio (home)
 */
#saludo {
	display: table;
	height:84px;
	margin: 0 auto;
	position:relative;
	top:30px;
	clear:both;
}
#saludo img{
	margin-left:10px;
}

.bienvenidoa {
	display: table-cell;
	vertical-align: middle;
	font-size:22px;
	margin-right:20px;

}

/*
 * Bloque de login
*/

#block-khipuman-login {
  font-size:16px !important;
  font-weight:normal !important;
  text-shadow:none !important;
  text-decoration:none !important;
  font-stretch:normal !important;
  font-variant:normal !important;
	margin-left:60px;
}

#block-khipuman-login .item-list ul li:first-child{
	display:none;
}

#block-khipuman-login .item-list ul li{ list-style:none; margin-left:-15px;}

#block-khipuman-login .user-login-form .form-item-name label,#block-khipuman-login .user-login-form .form-type-password label
{ width:120px; float:left; padding-top:5px;}

#block-khipuman-login .user-login-form input{ width:200px;}

#block-khipuman-login  #edit-actions{ margin-left:120px; width:150px;}

/*
 * Ocultando elementos del body
 */
body.front #page-title, .view-frontpage, body.front
 * a.feed-icon{display:none;}

body.front #highlighted {border-bottom: 0px;}

/*
 * Bloque crear cuenta
 */

 
#block-youarenew, #block-khipuman-login {
  float:left;
  position:relative;
  top:50px;
  background-color:#EEE;
  padding:10px; 
  width:360px; 
  height:260px;
}

#block-youarenew #edit-submit{
  margin-left:120px;
  width:150px;
  height:50px;
}

#crear-usuario{border-right:solid; border-right-width:1px; width:20px; height:280px; position:relative; z-index:2; top:-194px; left: 380px;}
body.front div.region-content{/*width: 77%;*/width:850px; margin:auto;}

/*
 * Footer
 */
#footer-wrapper{ background-color:#FFF !important;}
#footer-wrapper .block .content{color:#000 !important;}
#page-wrapper, #footer-wrapper{background-color:#FFF !important;}
#footerHome {
  text-align: center;
}

/*
 * Menu principal
 */
#main-menu{ width:300px; height:20px; float:right; position:relative; right:136px; top:-60px;}
#main-menu ul li{ border-right:solid; border-right-width:1px; height:20px;}
#main-menu ul li:last-child{border-right: none;}

#main-menu-links a {padding: 0em 0.7em !important;}
#main-menu-links a:hover{ text-decoration:underline;} 

nav.breadcrumb{ display:none;}

/*
 * Menu de Usuario
 */

#block-useraccountmenu { 
font-size: 0.929em;
width:300px; height:15px; position:relative; top:-126px;
}
#block-useraccountmenu h2{font-size: 0.929em; margin:0px !important; margin-left:18px !important;}
#block-useraccountmenu .content { margin-top: 0px !important;}

#block-useraccountmenu a:hover, a:focus, .link:hover, .link:focus, #block-useraccountmenu a, #block-useraccountmenu .link{ color:#333;}

#block-useraccountmenu a{padding: 0em 0.3em 0em 0em !important;}
#block-useraccountmenu li{ display:inline; border-right:solid; border-right-width:1px; height:10px;}
#block-useraccountmenu li:last-child{border-right: none;}

#block-useraccountmenu ul.menu li { padding-top: 0em !important;
}

/* ------------------ Otras modificasiones ------------------ */
.boton_block{
  text-align: center;
  margin-top: 30px;
}
/*ocultar las pestañitas de solicitud de contraseña nueva*/
body.page-user-password ul.tabs li{
	display:none;
}

/*alinear los elementos de un formulario*/
input, textarea{padding-left:10px;}
#addData select{padding-left:6px !important;}
#addData textarea{padding-left:10px;}

#saludo .slogan{
font-size: 13px;
color: #28405F;
position: absolute;
margin: -22px 0 0 90px;
width: 200px;
}

/*
* Responsive
*/
@media(max-width: 240px) {
  #name-and-slogan {
    display: none;
  }
  .region-header .block {
    margin: 0 30px;
  }
  #main-menu {
    width: 200px;
    height: 20px;
    right: 0px;
    position: initial;
  }
  
  #main-menu ul li {
    border-right: none;
    width: 190px;
  }
  
  #block-youarenew, #block-khipuman-login {
    width:175px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 200px;
  }
  #block-khipuman-login {
    height: 360px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 20%!important;
    width: 120px;
  }
  
  #block-khipuman-login .user-login-form input {
    width: 155px;
  }   
  img {
    max-width: 100%!important;
    /*padding-top:30px;*/
  } 
   
  .bienvenidoa {
    width: 60%;
    font-size: 18px;
    margin-right: 0px!important;
    padding-top:0px;
    padding-bottom:10px;
  }  
  #saludo {
    width: 100%!important;
    height: 40px;
    top: 0px!important;
    clear:both!important;
    text-align:center!important;
  }

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}

/**/
@media(min-width: 241px) and (max-width: 320px) {
  #name-and-slogan {
    display: none;
  }
  #main-menu {
    width: 100px;
    height: 20px;
    right: 200px;
  }
  
  #main-menu ul li {
    /*border-right: none;*/
    width: 100px;
  }
  #block-youarenew, #block-khipuman-login {
    width:255px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 200px;
  }
  #block-khipuman-login {
    height: 310px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 17%!important;
    width: 150px;
  }
  
  #block-khipuman-login .user-login-form input{ margin-left:7%;}
     
  img {
    max-width: 90%!important;
  } 
   
  .bienvenidoa {
    width: 50%;
    margin-right: 20px!important;
  }  
  #saludo {
    height: 40px;
    top: 0px!important;
  }

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}

/**/
@media(min-width: 321px) and (max-width: 384px) {
  #name-and-slogan {
    display: none;
  }
  
  #main-menu {
    width: 180px;
    height: 20px;
    right: 180px;
  }
  
  #main-menu ul li {
    border-right: none;
    width: 180px;
  }
  
  #block-youarenew, #block-khipuman-login {
    width:320px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 200px;
  }
  #block-khipuman-login {
    height: 280px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login .user-login-form input {
    width: 170px;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 27%!important;
    width: 150px;
  }
     
  img {
    max-width: 90%!important;
  } 
   
  .bienvenidoa {
    width: 50%;
    margin-right: 20px!important;
  }  
  #saludo {
    height: 40px;
    top: 0px!important;
  }

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}


/**/
@media (min-width: 385px) and (max-width: 480px) {
  
  #block-youarenew, #block-khipuman-login {
    width:415px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 180px;
    margin-top:30px;
  }
  #block-khipuman-login {
    height: 270px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 35%!important;
    width: 150px;
  }
     

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}
/**/
@media (min-width: 481px) and (max-width:568px) {
  #main-menu {
    right: 266px;  
  }
  
  #block-youarenew, #block-khipuman-login {
    width:505px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 180px;
    margin-top:30px;
  }
  #block-khipuman-login {
    height: 270px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 35%!important;
    width: 150px;
  }
  #block-khipuman-login .user-login-form input {
    margin-left: 15%;
  }
       

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}
/**/
@media (min-width: 569px) and (max-width:600px) {
  
  #block-youarenew, #block-khipuman-login {
    width:535px!important;
    margin-left: 0px!important;
    top:0px!important;
    margin: 6px 0px;
    clear: both!important;
  }

  #block-youarenew{
    height: 180px;
    margin-top:30px;
  }
  #block-khipuman-login {
    height: 270px;
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 36%!important;
    width: 150px;
  }
     

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}
/**/
@media (min-width: 601px) and (max-width:768px) {
  
  #block-youarenew, #block-khipuman-login {
float: left;
position: relative;
top: 50px;
background-color: #EEE;
padding: 10px;
width: 315px;
height: 260px;
  }

  #block-youarenew{
    /*height: 180px;
    margin-top:30px;*/
  }
  #block-khipuman-login {
    /*height: 270px;*/
  }
  #block-youarenew #edit-submit{
    margin-left:0px!important;
    width:100%!important;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 7px !important;
  }
  
  #block-khipuman-login .user-login-form input {
    width: 165px;
    padding: 5px 7px !important;
  }
  
  #block-khipuman-login #edit-actions {
    margin-left: 20%!important;
    width: 150px;
  }
     

  #footer-wrapper {
    padding: 0px 0 20px;
  }
  
  #footer .region {
    margin-top: 10px;
  }
  
  #footer {
    margin-top: 0px;
  }
}